.u-ta-c {
  text-align: center;
}

.o-heading {
  font-family: $FONT_RUBIK;
  font-weight: $FONT_W_M;
  letter-spacing: 150/1000+em;
  font-size: 2.8rem;
  line-height: percentage(32/28);
}

.o-sub-heading {
  font-weight: $FONT_W_M;
  letter-spacing: 80/1000+em;
  font-size: 1.8rem;
  line-height: percentage(30/18);

  @include MEDIA_SP {
    font-size: 1.6rem;
  }
}

.u-text-link {
  text-decoration: none;
  color: $COLOR_BL;
}