.u-ta-c {
  text-align: center;
}

.o-heading {
  font-family: $FONT_RUBIK;
  font-weight: $FONT_W_M;
  letter-spacing: 100/1000+em;
  font-size: 2rem;
  line-height: percentage(24/18);
}

.u-text-link {
  text-decoration: none;
  color: $COLOR_BL;
}