.u-ta-c {
  text-align: center;
}

.o-heading {
  z-index: 1;
  font-family: $FONT_RUBIK;
  font-size: 3rem;

  &__inner {
    position: relative;
    z-index: 1;
    display: inline-block;

    &:before {
      position: absolute;
      left: 0;
      bottom: -0.1em;
      width: 0;
      height: 0.2em;
      background: $COLOR_SKY;
      opacity: 0;
      content: '';
    }

    &.is-scrollIn {
      &:before {
        animation: showBorder 0.4s $easeInOutCubic 0.5s forwards;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    text-align: center;
    font-weight: $FONT_W_M;
    letter-spacing: 150/1000+em;
    line-height: percentage(32/28);
  }
}

.o-sub-heading {
  font-weight: $FONT_W_M;
  font-size: 2rem;
  line-height: percentage(30/18);

  @include MEDIA_SP {
    font-size: 1.6rem;
  }
}

.o-text {
  font-size: 1.4rem;
  line-height: percentage(26/14);
}

.u-text-link {
  text-decoration: none;
  color: $COLOR_BL;
  transition: all $HOVER_ANIME_SPEED $HOVER_ANIME_EASING;

  @media (hover: hover) {
    &:hover {
      color: $COLOR_SKY;
    }
  }
}