<mv-component>
  <h1 class={classNames({
    'c-mv__title': true,
    'is-loaded': state.isLoaded
  })}>Yama's Portfolio</h1>
  
  <script>
    export default {
      state: {
        isLoaded: false,
      },
      onMounted() {
        setTimeout(() => {
          this.update({
            isLoaded: true
          });
        }, 400);
      }
    }
  </script>

  <style>
    :host {
      display: block;
    }
  </style>
</mv-component>