@import url('//fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700|Rubik:400,500&display=swap&subset=japanese');

/**
* font
**/

$FONT_W_R: 400;
$FONT_W_M: 500;
$FONT_W_B: 700;

$FONT_NOTO: 'Noto Sans JP', sans-serif;
$FONT_RUBIK: 'Rubik', sans-serif;
$FONT_SIZE: percentage(10/16);

/**
* color
**/

$COLOR_GRAY: hsl(200, 10, 40);
$DEFAULT_COLOR: $COLOR_GRAY;

$COLOR_WH: #fff;
$COLOR_SKY: hsl(200, 60, 60);
$COLOR_BL: hsl(200, 60, 45);

$BG_SKY:  hsl(200, 60, 90);
$BORDER_GRAY: hsl(200, 10, 60);

$OVERLAY_BLACK: hsla(0, 0, 20, 0.8);

/**
* media
**/

$MEDIA_TAB: 960;
$MEDIA_SP: 768;

/**
* animation
**/

$HOVER_ANIME_SPEED: 0.2s;
$HOVER_ANIME_EASING: ease;


/**
* width
**/
$MAIN_WIDTH: 760-40px;