@import './config';

@import './utils/reset';
@import './utils/icon';
@import './utils/text';
@import './utils/margin';

@import './libs/easing';

@import './mixins/media';

@import './components/mv';
@import './components/about';
@import './components/links';
@import './components/news';

body {
  color: $DEFAULT_COLOR;
}

.l-content {
  max-width: $MEDIA_TAB;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}