@import './config';

@import './mixins/media';

@import './libs/easing';
@import './libs/animation';

@import './utils/reset';
@import './utils/icon';
@import './utils/text';
@import './utils/margin';

@import './components/mv';
@import './components/about';
@import './components/links';
@import './components/news';

html {
  color: $DEFAULT_COLOR;
  overflow-y: scroll;
  font-size: $FONT_SIZE;
  font-family: $FONT_NOTO;
  font-weight: $FONT_W_R;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  letter-spacing: 120/1000+em;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    background: $DARK_THEME_BLACK;
    color: #fff;
  }

  &.is-light {
    background: #fff;
    color: $DEFAULT_COLOR;
  }
}

a {
  outline: none;
  text-decoration: none;
  color: $COLOR_BL;
}

.l-content {
  max-width: $MEDIA_TAB+px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.l-section {
  margin-bottom: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid $BORDER_GRAY;

  &-first {
    padding-top: 100px;
  }

  &-last {
    padding-bottom: 100px;
  }
}